alabaster==0.7.12
Autologging==1.3.2
Babel==2.9.1
beautifulsoup4==4.10.0
blessed==1.17.6
breath==0.9
breathe==4.31.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
coloredlogs==15.0.1
docopt==0.6.2
docutils==0.17.1
exhale==0.2.3
humanfriendly==10.0
idna==3.3
imagesize==1.2.0
inquirer==2.7.0
Jinja2==3.0.2
lxml==4.6.3
MarkupSafe==2.0.1
packaging==21.0
peewee==3.14.4
PyAudio==0.2.11
Pygments==2.10.0
pyparsing==2.4.7
python-editor==1.0.4
python-xlib==0.31
pytz==2021.3
pyxhook==1.0.0
readchar==2.0.1
requests==2.26.0
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.2.0
sphinx-mathjax-offline==0.0.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.7
wcwidth==0.2.5
