[Desktop Entry]
Version=1.0
Type=Application
Name=LMS7 Suite
Comment=Graphical utility for LMS7 devices
TryExec=lms7suite
Exec=lms7suite %F
Icon=lime-suite
Categories=Development;
