[Desktop Entry]
Version=1.0
Type=Application
Name=LimeSuite GUI
Comment=Graphical utility for Lime devices
TryExec=LimeSuiteGUI
Exec=LimeSuiteGUI %F
Icon=lime-suite
Categories=Development;
